/**/
    body {
        background-color: white;
    }

    button {
        color: white;
        background-color: salmon;
        font-family: roboto;
        border: none;
        border-radius: 20px;
    }

    #minuteStr {
        color: #ff0000;
        font-size: 20px;
        text-align: left;
        position:absolute; top:210px; 
        left:10px; right:10px;
    }
    
    #secondStr {
        color: #ff0000;
        font-size: 10px;
        text-align: left;
        position:absolute; top:250px; 
        left:10px; right:10px;
        overflow-wrap: break-word;
    }

    #remain {
        background-color: gainsboro;
        color: black;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        position:absolute; top:290px; 
        left:25%; right:10px; width: 50%; height: 35px;
    }
    
    #time {
        background-color: gainsboro;
        color: black;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        position:absolute; top:330px; 
        left:25%; right:10px; width: 50%; height: 35px;
    }
    
    #mycanvas {
        color: #ffffff;
        font-size: 40px;
        text-align: center;
        position:absolute; top:10px; 
        left:95px; right:10px;
    }
    
    #btnA {
        font-size: 20px;
        position:absolute; top:380px; left:5%; width:43%; height:60px; 
    }
    
    #btnB {
        font-size: 20px;
        position:absolute; top:380px; left:52%; width:43%; height:60px; 
    }

    #btnC {
        font-size: 20px;
        position:absolute; top:444px; left:5%; width:43%; height:60px; 
    }

    #btnD {
        font-size: 20px;
        position:absolute; top:444px; left:52%; width:43%; height:60px; 
    }
    
    #minute {
        font-size: 30px;
        position:absolute; top:514px; left:20%; width:25%; height:40px;   
    }
    
    #second {
        font-size: 30px;
        position:absolute; top:514px; left:53%; width:25%; height:40px;   
    }
    
    input[type=number] {text-align: right;}